/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

//Main Colors
@PrimaryColor: orange;
@PrimaryLight: lighten(@PrimaryColor, 10%);
@PrimaryDark: darken(@PrimaryColor, 10%);
//Additional Colors
@Charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

//Add Google Fonts Later
@DisplayFont: sans-serif;
@BodyFont: sans-serif;

@TextSize: 5vh;

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

h1, h2, h3, h4, h5, h6, p{
	font-size: @TextSize;
	text-align: center;
}

h1, h2, h3, h4, h5, h6{
	font-family: @DisplayFont;
	font-weight: bold;
} 

h1{
	font-size: 2.0 * @TextSize;
}

h2{
	font-size: 1.75 * @TextSize;
}

h3{
	font-size: 1.5 * @TextSize;
}

p{
	font-family: @BodyFont;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: @PrimaryColor;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

input, select, button{

}

input{

}

button{

}

/*--------------------------------------------*/
/*---> ANIMATIONS <---------------------------*/
/*--------------------------------------------*/

/*--------------------------------------------*/
/*---> EXPERIMENTAL <-------------------------*/
/*--------------------------------------------*/

.CoverBackground(){
	//background-image property filled in by HTML
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.location{

	width: 90vw;
	height: 40vh;
	margin: 5vw auto;

	label{
		background: @Charcoal;
		padding: 0 0.5 * @TextSize;
		border-bottom: (0.15 * @TextSize) solid white;
		margin: 0 (0.5 * @TextSize);
		//Text Style
		font-family: @DisplayFont;
		font-size: @TextSize;
		color: white;
	}
	
	.CoverBackground();

}

div.ingredient{

	width: 2.0 * @TextSize;
	height: 2.0 * @TextSize;
	margin: 100px;

	label{
		position: absolute;
		margin-top: 10px;
		background: transparent;
		border: none;
		font-size: @TextSize;
		text-align: center;
	}

	.CoverBackground();

}