/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

//Main Colors
@PrimaryColor: orange;
@PrimaryLight: lighten(@PrimaryColor, 10%);
@PrimaryDark: darken(@PrimaryColor, 10%);
//Additional Colors
@Charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

//Add Google Fonts Later
@DisplayFont: sans-serif;
@BodyFont: sans-serif;

@TextSize: 5vh;

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

h1, h2, h3, h4, h5, h6, p{

}

h1{

}

h2{

}

h3{

}

p{

}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{

}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

input, select, button{

}

input{

}

button{
	
}

/*--------------------------------------------*/
/*---> ANIMATIONS <---------------------------*/
/*--------------------------------------------*/

/*--------------------------------------------*/
/*---> EXPERIMENTAL <-------------------------*/
/*--------------------------------------------*/